<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" th:integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" th:crossorigin="anonymous">

	<title>Save Employee</title>
</head>

<body>

	<div class="container">
	
		<h3>Employee Directory</h3>
		<hr>
		
		<div class="alert alert-info" th:if="${exist}">
		<p class="text text-center">
		User with this Email already exist
		</p>
		
		</div>
		
		<p class="h4 mb-4">Save Employee</p>
		
		
		
		
	
		<form action="#" th:action="@{/company/showFormForAdd}"
						 th:object="${employee}" method="POST">
		
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First name">
					
				<div class="text text-danger" th:if="${#fields.hasErrors('firstName')}"
				th:errors="*{firstName}">
				</div>

			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last name">
					
					
				<div class="text text-danger" th:if="${#fields.hasErrors('lastName')}"
				th:errors="*{lastName}">
				</div>

			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">
					<div class="text text-danger" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}">
					
					</div>
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		
		<a th:href="@{/employees/list}" class="btn btn-info col-3">Back to Employees List</a>
		
	</div>
	
	<hr/>
	
</body>

</html>










