<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
   <!-- Bootstrap -->
	
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    
     <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"  src="/js/main.js"></script>
    
    
    </head>
    <body>
    
    
   <a th:href="@{/company/list}"
		class="btn btn-primary btn-sm mb-3">
		Company
	</a>
    
     
   <a th:href="@{/customer/list}"
		class="btn btn-primary btn-sm mb-3">
		Customer
	</a>
    
    
    
    
    
    
    
    
    
    </body>